$brand-primary: #148fce;
$brand-dark: #222;
$brand-light: #ddd;
$brand-highlight: #ed7d31;
$brand-success: $brand-primary;

$breakpoint-sm: 480px;
$breakpoint-md: 600px;
$breakpoint-lg: 850px;
$breakpoint-xl: 1024px;
$breakpoint-xxl: 1420px;
$breakpoint-xxxl: 1750px;