@import "_vars.scss";

$footer-height: 100px;

footer {
  color: $brand-light;
  background: $brand-primary;
  background-size: cover;
  height: min-content;

  .footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      font-size: small;
      padding: 15px 0;
      text-align: center;
      &:not(:last-child) {
        border-bottom: 3px solid $brand-light;
      }
    }
  }

  @media (min-width: $breakpoint-lg) {
    .footer-items {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 30px 0;

      span {
        font-size: medium;
        padding: 0 15px;
        &:not(:last-child) {
          border-right: 3px solid $brand-light;
          border-bottom: none;
        }
      }
    }
  }
}
