@import "_vars.scss";

$header-height-mobile: 245vh;
$header-height-desktop: 30vh;

header {
  background-color: white;
  background-size: cover;
  max-height: $header-height-mobile;
  margin: 0;

  .logo-container {
    padding: 10px 30px;
  }
  .logo {
    display: block;
    width: 50vw;
    margin: 0 auto;
  }

  .user-manual-info-container {
    background-color: $brand-primary;
    padding: 30px 20px;
    color: white;
  }

  .user-manual-info {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;

    h1 {
      font-size: 50px;
      margin-bottom: 0px;
    }

    h3 {
      font-size: 40px;
      margin-bottom: 25px;
    }
    p {
      margin-bottom: 5px;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $breakpoint-md) {
    .logo-container {
      padding: 30px 0;
      max-width: 960px;
      margin: 0 auto;
    }
    .logo {
      margin: 0;
      display: block;
      width: 50vw;
    }
    .user-manual-info {
      text-align: left;
    }
  }

  @media (min-width: $breakpoint-lg) {
    .logo {
      width: 40vw;
    }

    .user-manual-info {
      h1 {
        font-size: 60px;
      }

      h3 {
        font-size: 35px;
      }

      p {
      }
    }
  }

  @media (min-width: $breakpoint-xl) {
    .logo {
      width: 30vw;
    }

    .user-manual-info {
      h1 {
        font-size: 80px;
      }

      h3 {
        font-size: 50px;
      }
      p {
      }
    }
  }

  @media print {
    .logo {
      display: block;
      width: 75vw;
    }

    .user-manual-info {
      background-color: $brand-primary;
      color: white;
      text-align: center;

      h1 {
        font-size: 30px;
      }

      h3 {
        font-size: 25px;
      }
      p {
      }
    }
  }
}
