@import "./_vars.scss";

body {
  margin: 0;
  background: white;
  max-width: auto;
  overflow-x: hidden;
}

#top-link {
  opacity: 0;
  position: fixed;
  right: 0px;
  bottom: 5px;
  margin: 0;
  padding: 15px;
  font-size: 30px;
  color: $brand-dark;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $brand-light;
  z-index: 1;

  &:hover {
    color: $brand-primary;
  }

  h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 200;
    margin: 0;
  }
}

.layout {
  height: 100%;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: auto 1fr auto;
  transition: filter 0.15s ease-in-out;
}

.site-header {
  grid-area: header;
}

.content {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      width: 100%;
      text-align: center;
      background-color: $brand-primary;
      color: $brand-light;
      padding: 20px;
    }

    .section-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  a {
    text-decoration: none;
    padding: 0;
  }

  h4 {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 32px;
    color: darken($brand-light, 30);
    transition: color 0.4s ease-in-out;
  }

  @media (min-width: $breakpoint-lg) {
    h4 {
      display: block;
    }
  }

  .cta-icon {
    margin: 0;
  }

  .cta:hover {
    h4 {
      color: lighten($brand-primary, 30);
    }

    .hover {
      transition: opacity 0.4s ease-in-out;
      opacity: 1;
    }
  }

  .cta:active {
    .active {
      opacity: 1;
    }
  }
}

.site-footer {
  grid-area: footer;
}

.signup-success {
  margin: 0;
  text-align: center;
  color: $brand-success;
  display: none;
}

.mail-icon {
  font-size: 200px;
  align-self: center;
  justify-self: center;
  margin-bottom: 20px;
}

.beta-closed {
  color: $brand-dark;
  text-align: center;
  font-size: small;
}

.lockout-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lockout-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  top: 0;
  left: 0;
  z-index: 1;
  background: black;
  opacity: 0.75;
  transition: opacity 0.5s ease-in-out;
}

.lockout-overlay form {
  background: lighten($brand-light, 20);
  width: 300px;
  height: 400px;
  margin: 30vh auto;
  max-width: 300px;
  display: flex;
  align-content: center;
  vertical-align: middle;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  z-index: 10;
}

.lockout-overlay form img {
  background: lighten($brand-light, 20);
  display: flex;
  align-content: center;
  vertical-align: middle;
  flex-direction: column;
}

.lockout-overlay input {
  padding: 5px;
  margin: 10px 0;
}

.lockout-overlay button {
  background: #148fce;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0 20px;
  color: #ddd;
}

#unlock-failed {
  color: $brand-highlight;
  text-align: center;
}

.hidden {
  opacity: 0;
  z-index: -1;
}

.blurred {
  filter: blur(15px);
}

#unlock-failed.shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

.spinner {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  border-top: 8px solid $brand-primary;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $brand-primary;
  border-left: 8px solid transparent;
  animation: spin 0.5s infinite ease-in-out;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(180deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(180deg);
  }
}

ul,
ol {
  margin-top: -20px;
}

li {
  margin-bottom: 5px;
}
