@import "_vars.scss";

$header-height-mobile: 245vh;
$header-height-desktop: 30vh;

.section {
  background-color: white;
  padding: 25px;

  .manual-section {
    .title {
      font-size: 35px;
      color: $brand-highlight;
      text-align: left;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .section {
    .manual-section {
      .title {
        font-size: 40px;
      }
    }
  }
}
