@import "_vars.scss";

$header-height-mobile: 245vh;
$header-height-desktop: 30vh;

.section {
  background-color: white;
  padding: 25px;

  .manual-section {
    border-bottom: 1px solid $brand-primary;
    padding-bottom: 20px;
    max-width: 960px;
    margin: 30px auto;
    .title {
      font-size: 35px;
      color: $brand-highlight;
      text-align: left;
      margin-bottom: 20px;
    }

    h2 {
      margin-top: 32px;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .section {
    .manual-section {
      .title {
        font-size: 40px;
      }
    }
  }
}
